<link rel="stylesheet" href="../public/css/nav.css" />
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
</nav>
